<mat-list role="list">

    <div class="profile-card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS9eOfIJXuy8hUbze81SD9Elf_FA9INuy5bbUPALHzidoJ3xj1_lNvmNM5YKEi_Z4REuz8&usqp=CAU"
            alt="">
        <h3>Admin</h3>
        <h4>admin@ssdfsd.com</h4>

    </div>

    <mat-divider></mat-divider>
    <h4 matSubheader>Pages</h4>
    <a mat-list-item routerLinkActivate="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActivate="list-item-active" routerLink="/">Instituition</a>
    <a mat-list-item routerLinkActivate="list-item-active" routerLink="/">Students</a>
    <a mat-list-item routerLinkActivate="list-item-active" routerLink="/">Placements</a>
    <a mat-list-item routerLinkActivate="list-item-active" routerLink="/">Statistics</a>
    <a mat-list-item routerLinkActivate="list-item-active" routerLink="/">Courses</a>
    <a mat-list-item routerLinkActivate="list-item-active" routerLink="/">Employees</a>
</mat-list>